# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Django stuff
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS/Windows system files
.DS_Store
Thumbs.db
